extends ../layout

block content
	h1(class='white-text')= 'Mapping'
	div(class='row')
		form(method='post')
			div(class='row')
				div(class='input-field')
					i(class='material-icons prefix white-text') horizontal_split
					input(id='rows' type='number' min=1 class='validate' name='rows' class='white-text')
					label(for='rows') Number of Rows
				div(class='input-field')
					i(class='material-icons prefix white-text') vertical_split
					input(id='columns' type='number' min=1 class='validate' name='columns' class='white-text')
					label(for='columns') Number of Columns
			i(class='blue darken-2 waves-effect waves-light btn waves-input-wrapper')
				input(id='proceed-button' class='waves-button-input white-text' type='submit' value='Proceed')