extends ../layout

block content
	h1= 'Mapping'
	form(method='post' action='/mapping/save')
		input(id='array' name='array' value='' type='hidden')
		input(id='poi' name='poi' value='' type='hidden')
		input(id='schoolname' type='text' name='schoolname' class='validate')
		label(for='schoolname') School Name
		input(id='schoolcode' type='text' name='schoolcode' class='validate')
		label(for='schoolcode') School Code
		br
		br
		i(class='waves-effect waves-light btn waves-input-wrapper orange')
			input(id='submit' class='waves-button-input white-text' type='submit' value='Save')
	br

	a(id='poi_toggle' class='blue darken-2 waves-effect waves-light btn') Enable POI Mode
	div(id='poi_menu' style='display: none;')
		br
		span Currently Selected: &nbsp;
		span(id='col_disp') undefined
		span &nbsp;
		span(id='row_disp') undefined
		span &nbsp;
		div(class='input-field inline')
			input(id='poi_inline' type='text' class='validate')
			label(for='poi_inline') Name of POI
		a(id='poi_add_button' class='waves-effect waves-light btn') Add POI
		br
		div(id='current_poi_list')
	hr
	div(id='container')

	script.
		const rows = parseInt("#{rows}");
		const columns = parseInt("#{columns}");
		let poi_mode = false;
		const poi = {};

		// blank array with rows and columns length
		let array = [];
		for(let c = 0; c < rows; c++)
		{
			let row = [];
			for(let i = 0; i < columns; i++)
			{
				row.push(0);
			}
			array.push(row);
		}

		// makes grid
		const container = document.getElementById('container')
		const add_row = (row_num) =>
		{
			const new_row = document.createElement('div');
			new_row.setAttribute('id', `row-${row_num}`);
			new_row.setAttribute('style', 'display: flex; flex-direction: row;')
			for(let c = 0; c < columns; c++)
			{
				const new_box = document.createElement('div');
				new_box.setAttribute('id', `${row_num}-${c}`);
				new_box.setAttribute('class', 'square black');
				new_box.onclick = () =>
				{
					const id = new_box.id;
					const [row, col] = id.split('-');
					if(poi_mode)
					{
						document.getElementById('row_disp').innerHTML = `${row}`;
						document.getElementById('col_disp').innerHTML = `${col}`;
						if(new_box.classList.contains('orange')) 
						{
							new_box.classList.add('black');
							new_box.classList.remove('orange');
						}
						else 
						{
							new_box.classList.remove('black');
							new_box.classList.add('orange');
						}
					}
					else
					{
						if(array[row][col] === 0) 
						{
							new_box.classList.remove('black');
							new_box.classList.add('red');
							array[row][col] = 1;
							document.getElementById('array').value = JSON.stringify(array);
						}
						else if(array[row][col] === 1) 
						{
							new_box.classList.remove('red');
							new_box.classList.add('black');
							array[row][col] = 0;
							document.getElementById('array').value = JSON.stringify(array);
						}
					}
				}
				new_row.appendChild(new_box);
			}
			container.appendChild(new_row);
		}
		for(let c = 0; c < rows; c++)
		{
			add_row(c);
		}

		// poi toggle
		document.getElementById('poi_toggle').onclick = () =>
		{
			if(poi_mode)
			{
				document.getElementById('poi_menu').style.display = 'none';
				document.getElementById('poi_toggle').innerHTML = 'Enable POI Mode';
				poi_mode = false;
			}
			else
			{
				document.getElementById('poi_menu').style.display = 'block';
				document.getElementById('poi_toggle').innerHTML = 'Disable POI Mode';
				poi_mode = true;
			}
		}

		// add poi
		document.getElementById('poi_add_button').onclick = () =>
		{
			poi[document.getElementById('poi_inline').value] = { x: document.getElementById('col_disp').innerHTML, y: document.getElementById('row_disp').innerHTML};
			document.getElementById('current_poi_list').innerHTML = JSON.stringify(poi);
			document.getElementById('poi').value = JSON.stringify(poi);
		}


