extends layout

block content
	h1(class="white-text") Directions from #{from} to #{to}
	div
		-for(c = 0; c < path.length - 1; c++)
			div(class='card green darken-3')
				div(class='card-content white-text')
					span(class='card-title') Direction #{c + 1} of #{path.length - 1}
					-var direction = '';
					-var steps = 0;
					-var xpos = path[c][0] - path[c+1][0];
					-if(xpos == 0)
						-var ypos = path[c][1] - path[c+1][1]
						-if(ypos > 0) direction = 'north';
						-else direction = 'south';
						-steps = Math.abs(ypos);
					-else
						-steps = Math.abs(xpos);
						-if(xpos > 0) direction = 'west';
						-else direction = 'east';
					p Walk towards #{direction} for #{steps} steps
				div(class='card-action')
					a(href='#' onclick='console.log(this.parentNode.parentNode.style.display = \'none\')') Dismiss this card