extends layout

block content
	h1(class="white-text") Welcome to Hallway Helper!
	p(class="white-text") This tool was designed to allow new students to better navigate a new school.<br>
	p(class="white-text") Click "Go" to try it out.
