doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/materialize.min.css')
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
	body
		div(id='particles-js' style='position: fixed; left: 0%; right: 0%; top: 0%; bottom: 0%; z-index: -1;')
		nav
			div(class="nav-wrapper blue darken-2")
				a(href="/" class="brand-logo") &nbsp;&nbsp;Hallway Helper
				ul(id="nav-mobile" class="right hide-on-med-and-down")
					li
						a(id="travel" href="/travel") Go
					li
						a(id="mapping" href="/mapping") Add a School
		br
		br
		block content
	script(src='/javascripts/materialize.min.js')
	script(src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js')
	script.
		particlesJS.load('particles-js', '/particles.json', function () {});
