extends layout

block content
	h1= 'Mapping'
	div(class='row' class='white' style='opacity: 0.2;')
		form(method='post')
			div(class='row')
				div(class='input-field')
					i(class='material-icons prefix') horizontal_split
					input(id='rows' type='number' min=1 class='validate' name='rows')
					label(for='rows') Number of Rows
				div(class='input-field')
					i(class='material-icons prefix') vertical_split
					input(id='columns' type='number' min=1 class='validate' name='columns')
					label(for='columns') Number of Columns
			i(class='blue darken-2 waves-effect waves-light btn waves-input-wrapper')
				input(id='proceed-button' class='waves-button-input white-text' type='submit' value='Proceed')
	script.
		document.addEventListener('DOMContentLoaded', function() {
			document.getElementById("mapping").classList.add("active");
		});
		