extends layout

block content
	div(style="width:35%")
		div(class="input-field col s12")
			select(id="dropdown")
				option(value="" disabled selected) Choose your option
			label Your School
			br
		div(class="input-field col s12 white-text")
			select(id="from")
				option(value="" disabled selected) Choose your option
			label Room From
			br
		div(class="input-field col s12")
			select(id="to")
				option(value="" disabled selected) Choose your option
			label Room To
			br
		button(class="btn blue darken-2 waves-effect waves-light" type="submit" name="action" onclick="submit()") Submit
			i(class="material-icons right") send
		div(id="err" style="display: none;") Please Try Again
	script.
		let data = !{schools};
		console.log(data);

		let select = document.getElementById("dropdown");
		for (i = 0; i < data.length; i++)
		{
			console.log(data[i]);
			let opt = document.createElement('option');
			opt.value = data[i].code;
			opt.text = data[i].name;
			select.appendChild(opt);
		}

		select.addEventListener("change", function() {
			let from = document.getElementById("from");
			let to = document.getElementById("to");
			from.innerHTML = '<option value="" disabled selected> Choose your option</option>';
			to.innerHTML = '<option value="" disabled selected> Choose your option</option>';
			let loc = JSON.parse(data[select.selectedIndex-1].location);
			console.log(loc);
			for (item in loc)
			{
				let optL = document.createElement('option');
				optL.value = item;
				optL.text = item.toUpperCase();
				let optL2 = document.createElement('option');
				optL2.value = item;
				optL2.text = item.toUpperCase();
				from.appendChild(optL);
				to.appendChild(optL2);
			}
			var elems = document.querySelectorAll('select');
			var instances = M.FormSelect.init(elems);
		});

		document.addEventListener('DOMContentLoaded', function() {
			var elems = document.querySelectorAll('select');
			var instances = M.FormSelect.init(elems);
		});

		function submit() 
		{
			let school = document.getElementById("dropdown").value;
			let from = document.getElementById("from").value;
			let to = document.getElementById("to").value;
			let url = `/path?school=${encodeURIComponent(school)}&from=${encodeURIComponent(from)}&to=${encodeURIComponent(to)}`;
			var xhr = new XMLHttpRequest(),
				method = 'GET';
			xhr.open(method, url, true);
			xhr.onload = function () {
				console.log(xhr.response);
				if (xhr.status == 400)
				{
					document.getElementById("hidden").style.display = "block";
				} else {
					window.location.href = `/guide?from=${encodeURIComponent(from)}&to=${encodeURIComponent(to)}&path=${encodeURIComponent(xhr.response)}`;
				}
			};
			xhr.send();
	
		}

		
	