.center-container
{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.fullscreen-container
{
	position: fixed;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
}

.background
{
	z-index: -10;
	background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(45, 54, 76), rgb(37, 45, 63));
}

.shaded-box
{
	box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.4);
	z-index: -5;
}

.swiper-slide
{
	text-align: center;
	display: grid;
	grid-template-rows: auto 33vh 66vh;
}

.swiper-top
{
	grid-row: 2 / 3;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 1rem 1rem 1rem;
}

.swiper-bottom
{
	grid-row: 3 / 4;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.full-size-card
{
	height: 100%;
	width: 100%;
	opacity: 0.8;
}

.card-body-center
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 0 0 0 !important;
}

.card-body-center div h2
{
	margin: 0.5rem 0.5rem 0.5rem 0.5rem !important;
}