body 
{
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a 
{
	color: #00B7FF;
}

.force-white-text
{
	color: #FFFFFF !important;
}

.square
{
	height: 1rem;
	width: 1rem;
	border: 0.1mm solid white;
}

#particles-js
{
	background-image: url('/images/bg_particles.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right bottom;
	height: 100vh;
}
